/* Estilo global */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    /* Tema preto */
    color: #ffffff;
    /* Texto branco */
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #333;
    /* Borda mais escura */
    background-color: #1e1e1e;
    /* Background escuro */
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para o contêiner de controle de voz */
.voice-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel-select {
    padding: 5px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.voice-toggle-button {
    padding: 10px 20px;
    background-color: #1a7122;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.voice-toggle-button:hover {
    background-color: #005f5f;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #1a7122;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #005f5f;
}

.tab-button:hover {
    background-color: #005f5f;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#soundButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
    /* Grid responsiva */
    gap: 5px;
    /* Espaçamento entre os botões */
}

.button-container {
    position: relative;
}

.button {
    margin: 10px;
    padding: 15px 20px;
    /* Aumentando o padding para maior usabilidade */
    width: 82%;
    background-color: #1a7122;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    /* Para inicializar as palavras com letra maiúscula */
}

.button:hover {
    background-color: #005f5f;
}

#fileInput,
#uploadBtn {
    margin-top: 20px;
}

/* Estilo para o botão de menu */
.menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;    
    margin-left: 0px;
    padding: 0;
    font-size: 1.4em;
    position: center;    
}

.menu-button:hover {
    color: #005f5f;
    position: center;
}

/* Estilo para as opções de rename e delete escondidas */
.options {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.show .options {
    display: flex;
}

.rename-input,
.rename-btn,
.delete-btn {
    margin: 5px 0;
}
